/* background image */
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.body {
  background-image: url("../img/walk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

/* nav bar */
.head {
  /*border: 2px solid blue;*/
}

.rightNav {
  float: right;
  margin-right: 15px;
  /*border: 2px solid green;*/
  display: inline-block;
}

li {
  display: inline;
  list-style-type: none;
  padding-right: 15px;
}

#flag, img {
  height: 70px;
  width: 70px;
  padding: 5px;
  display: inline-block;
}

/* main body */
.middle {
  color: white;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#yellow {
  width: 150px;
  height: 150px;
}
.left-button {
  height: 100px;
  width: 400px;
  border: 1px solid #8d8e92;
  display: inline-block;
  margin-right: 15px;
  opacity: .7;
  background-color: grey;
}
.left-button li {
  display: inline;
}
.left-button img {
  height: 25px;
  width: 25px;
}

.right-button {
  height: 100px;
  width: 400px;
  /*border: 2px solid blue;*/
  display: inline-block;
  margin-left: 15px;
  background-color: #3365ae;
  color: white;
}

.right-button li {
  display: inline;
}

.right-button img {
  height: 25px;
  width: 25px;
}

.widgets {
  margin-top: 60px;
}

.app-store {
  height: 100px;
  width: 250px;
  display: inline-block;
    /*border: 2px solid green;*/
    /*vertical-align: middle;*/
}

.app-store p {
  display: inline;

}

.app-store img {
  height: 30px;
  width: 30px;
  display: inline;
}

.travelistly {
  height: 100px;
  width: 250px;
  display: inline-block;
    /*border: 2px solid green;*/
    /*vertical-align: middle;*/
}

.travelistly p {
  display: inline;

}

.travelistly img {
  height: 30px;
  width: 30px;
  display: inline;
}
span {
  color: white;
  font-size: 20px;
}

.footer {
  text-align: center;
  margin-top: 80px;
  color: white;
}
